body, html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #000000;
	background: url("grafika/t5.jpg");
	text-align:center;
	height:100%;
	width: 100%;
	position: absolute;
}

a {
	text-decoration: none;
	font-weight: bold;
	color:  red;
	outline: none;
	}
a:visited {
	color:  purple;
	}
a:active {
	color:  red;
	}
a:hover {
	color: red;
	text-decoration: underline;
	}
.ahem {
	display: none;
	}
strong, b {
	font-weight: bold;
	}
	
p {
	font-size: 12px;
	line-height: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	}

p2 {
	font-size: 10px;
	line-height: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	}

tr, td {
	font-size: 10px;
		color: #000000;
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	}

td#tlo {

     border-color: #8b723a;
     border-style: ridge;
}

/* weird ie5win bug: all line-height to font-size ratios must agree or box gets pushed around. UPDATE: this has turned out to be very rare. my current recommendation is IGNORE this warning. at the moment i'm leaving it in only in case the issue turns up again. possibly the original bug in march 2001 was caused by an unusual combination of factors, although this solved it at the time.*/

h1 {
	font-size: 24px;
	line-height: 44px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h2 {
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h4 {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h5 {
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h6 {
	font-size: 10px;
	line-height: 18px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
img {
	border: 0;
	}
.nowrap {
	white-space: nowrap;
	font-size: 10px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
/* must be combined with nobr in html for ie5win */
	}
.tiny {
	font-size: 9px;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 5px;
	}
	
#top {
	margin: 20px 20px 20px 20px;
	padding: 0px;
 	height: 100px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	height: 70px;
	}
html>body #top {
	height: 240px; /* ie5win fudge ends */
	}
#left {
 	position: absolute;
	top: 250px;
	left: 0px;
	margin: 10px;
	padding: 10px;
	/* background: url("grafika/przyciski/status2.jpg"); */
	border-color: #8b723a;
	border-style: none;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 120px;
	min-height: 130%;
	height: auto !important;
	height: 130%;
	}
html>body #left {
	width: 140px; /* ie5win fudge ends */
      }
#middle {
 -webkit-border-radius: 20px; /* Safari, Chrome */
 -khtml-border-radius: 20px;    /* Konqueror */
 -moz-border-radius: 20px; /* Firefox */
  border-radius: 20px;
	margin: 20px 190px 20px 190px;
	padding: 10px;
	position:relative;
	background-image: url("grafika/middle.jpg");
	border-color: black;
	border-style: none;
	text-align:left;
	min-height:130%;
	height: auto !important;
	height: 130%;
	}


#right {

	position: absolute;
	top: 255px;
	right: 0px;  /* Opera5.02 will show a space at right when there is no scroll bar */
	margin: 30px;
	padding: 10px;
	background: url("grafika/przyciski/status2.jpg");
	border-color: #8b723a;
	border-style: none;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 120px;
	min-height: 25%;
	height: auto !important;
	height: 25%;
	}
html>body #right {
	width: 120px; /* ie5win fudge ends */
	}
pre {
	font-size: 12px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 5px;
	}

/* MENU LEWE przyciski:*/

dl, dt, dd {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

dd {
	background-image: url("grafika/blok.jpg");
	background-repeat: repeat-x;
}

dt {
	font-weight: bold;
	padding: 2px 5px;
	text-align: center;
	color: #FFFFFF;
	background-image: url("grafika/downblok.jpg");
}

dl a:link, dl a:visited {
	display: block;
	text-decoration: none;
	padding: 2px 5px;
	color: #000;
}

dl a:hover {
/*	background-color: #CC3300;
	color: #000; */
	background-image: url("grafika/krop2.png");
	background-repeat: repeat-y;
}

#NAGLOWEKNEWS {
	font-weight: 700
	position:relative;
	 /*background-image: url("grafika/cos.png"); */
	padding-left: 50px;
	margin: 10px;
	padding: 10px;
	
		
}

#TRESCNEWS {
	padding: 10px;
	float: left;
	overflow: hidden;
}


td {
padding: 10px; 
}

table {
table-layout: fixed; width: 100%;
}
